*.iml
.gradle
/local.properties
node_modules/
backend/node_modules/
backend/mangahook-api/server/node_modules/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
